<div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="flex-start">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngIf="pokemons">
        <div id="pokemonName" *ngFor="let pokemon of pokemons; let i = index">

            <h2 (click)="onPokemonClick(pokemon)">
                <a>{{ pokemon.name | uppercase }}</a>
            </h2>
        </div>
    </div>
    <div class="list-buttons" fxLayout="row"  fxLayout.lt-md="column">
        <span (click)="onPreviousClick()" class='start-btn'>Previous</span>
        <span (click)="onForwardClick()" class='start-btn'>Forward</span>
    </div>
</div>