<div *ngIf="pokemons">
    <div class="left-column">
        <div *ngFor="let pokemon of pokemons; let i = index">

            <h2 *ngIf="i % 2 === 0" (click)="onClick(pokemon)">
                <a>{{ pokemon.name | uppercase }}</a>
            </h2>
        </div>
    </div>
    <div class="right-column">
        <div *ngFor="let pokemon of pokemons; let i = index">

            <h2 *ngIf="i % 2 !== 0" (click)="onClick(pokemon)">
                <a>{{ pokemon.name | uppercase }}</a>
            </h2>
        </div>
    </div>
</div>