/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {font-family: "Pokemon";
     src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
     src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
 }

:host {
    /* width: 50%; */
    padding: 0% 0% 0% 4%;
    height: 100%;
    width: 31%;
    flex-flow: flex-direction flex-wrap;

}

/* Pokemon names */

.pokemon-names-container {
    display: grid;
    grid-template-columns: 
    repeat(2,
    minmax(40%, 1fr));
    grid-gap: 10px 10px;
    max-height: 100%;
    width: 100%;
}

.pokemon-names-container > div {
    text-align: center;
}

#pokemon-name {
    margin: 19px;
    width: 91%;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    font-weight: lighter;
    text-align: center;
    font-family: "Pokemon";
    font-weight: lighter;
    text-shadow: -6px 3px 0 #000, -4px 5px 0 #000, -9px 5px 0 #000, -13px 6px 0 #000;
}


#pokemon-name:hover {
    font-size: 1.9vw;
    text-shadow: -2px -1px 0 #000, -3px -1px 0 #000, 0px 4px 0 #000, -7px 6px 0 #000;

    color: #ffcb05;
}


/* Video Game Buttons */

.list-buttons {
    display: inline-block;
    /* position: static; */
    justify-content: center;
}

.start-btn{
    font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}

.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

 /* Application-wide Styles */
h1 {
    color: #369;
    font-family: "Pokemon";
    font-size: 250%;
  }

  h2, h3 {
    font-family: "Pokemon";
    color: #444;
    font-weight: lighter;
  }

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }

  /* .pokemon-names-container {
    display: flex;
    flex-wrap: wrap;
} */

  /* small size viewport */ 
@media screen and (max-width: 960px) {

      :host {
          width: 100%;
          padding: 0;
      }

      #pokemon-name {
        margin: 0 auto;
        width: 100%;
        justify-self: start;
    }

      .pokemon-names-container {
            display: inline-grid;
            grid-template-columns: 
            repeat(5,
            minmax(15%, 1fr));
            grid-template-rows: 26% 0;
          height: 100%;
          grid-gap: 0;
          margin-bottom: -3%;

      }

      #pokemon-name {
          text-shadow: -4px 2px 0 #000, 0px 0px 0 #000, -3px 1px 0 #000, -3px 3px 0 #000;
          font-size: 3.6vw;
          align-self: start;
      }

      #pokemon-name:hover {
        font-size: 3.3vw;
        color: #ffcb05;
    }
  }

  