/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {font-family: "Pokemon";
     src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
     src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
          url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
 }

:host {
    width: 40%;
    padding: 3% 0% 0% 7%;
}

/* Pokemon names */

a {
    cursor: pointer;
    color: white;
    font-size: 2.4vw;
    font-weight: lighter;
    text-shadow: -6px 3px 0 #000, -4px 5px 0 #000, -9px 5px 0 #000, -13px 6px 0 #000;
}

a:hover {
    font-size: 2.7vw;
}

h2:hover a {
    text-shadow: -2px -1px 0 #000, -3px -1px 0 #000, 0px 4px 0 #000, -7px 6px 0 #000;

}

 /* Application-wide Styles */
h1 {
    color: #369;
    font-family: "Pokemon";
    font-size: 250%;
  }

  h2, h3 {
    font-family: "Pokemon";
    color: #444;
    font-weight: lighter;
  }

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }

.right-column {
    width: 50%;
    float: right;
}

.left-column {
    width: 50%;
    float: left;
}
