/* You can add global styles to this file, and also import other style files */

/* Toolbar  */
.toolbar {
  display: flex;
  background-color: #c00d0d;
  padding: 1%;
  justify-content: center;
  max-height: 70px;
  position: relative;
}

/* Logo */
img {
  max-height: 100px;
  max-width: 110px;
}
