/* You can add global styles to this file, and also import other style files */

/* Toolbar  */
.toolbar {
  display: flex;
  background-color: #c00d0d;
  padding: 1%;
  display: inline-block;
  justify-content: center;
  position: relative;
}


/* Logo */
img {
    max-height: 17%;
    max-width: 17%;
}

